body {
    background-color: #00CCFF;
    min-height: 100vh;
}

header {
    height: 7VH;
    background-color: #000055;
    color: white;
    text-align: center;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: solid 2px #0099FF;
}

.local {
    width: 80%;
    margin: 20px auto;
    border: #000055 solid 1px;
}

.local > tbody > tr > th {
    width: 30%;
    border: #000055 solid 2px;
}

.local > tbody > tr > td {
    display: flex;
    border: #000055 solid 1px;

}

.local > tbody > tr > td > p {
    padding: 10px;
    margin: 5px;
    cursor : pointer;
    /* border: #000055 solid 2px; */
    /* text-align: left; */
}

.local tbody > tr > td > p:hover {
    opacity: 0.5;
}

footer {
    height: 10VH;
    background-color: #000055;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.footer-twitter {
    display: flex;
    background-color: #000055;
}